body {
  background: rgb(58, 58, 58);
  color: #fff;
  font-family: Helvetica Neve, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
)

header {
  background-color: #black;
  background image: url("images\66086956_467968597366668_7699397531473543168_n.jpg");
  background-position: left;
  padding: 20px;
  height: 100px;
)

header a {
  color: #white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

nav ul {
  margin: 0;
  padding 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

h1, h2 {
  color: #white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}
  
.features {
  background: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.features figure {
  margin: auto;
  text-align: center;
  text-transform: lowercase;
  width: 200px;
{

.features img {
  border-radius: 50%;
  width: 200px;
 }
